<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:property-placeholder location="classpath:sport.properties"/>
    
    <!-- Define your beans here -->
         <bean id="myLoggerConfig"
         class="com.luv2code.spring.demo.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE" />
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>
    <bean id="trackCoach" 
    class="com.luv2code.spring.demo.TrackCoach">
    </bean>
    
    <bean id="happyFortuneService"
    class="com.luv2code.spring.demo.HappyFortuneService">
    </bean>
    
   
    
    <bean id="myCricketCoach"
    class="com.luv2code.spring.demo.CricketCoach">
    <property name="myFortuneService" ref="happyFortuneService"></property>
    <property name="emailAddress" value="${foo.emailAddress}"></property>
    <property name="team" value="${foo.team}"></property>
    </bean>
    
    <!-- define the dependency -->  
</beans>
